textarea{width: 100%; height: 100%;border: 0px;}
.tab-content #tab2 textarea{height: 60px;}
table thead th{vertical-align:middle !important;}
th{text-align:center !important;}
tr{height: 40px !important;}
input{border: 0;}

